<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ECSELL管理后台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="../plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="../plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="../plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/pick-color/css/bootstrap-3.0.0.min.css">
    <link rel="stylesheet" href="../plugins/pick-color/css/pick-a-color-1.2.3.min.css">
    <link href="../stylesheets/ionicons.min.css" rel="stylesheet" type="text/css">
    <script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="../layer-v2.2/layer/layer.js"></script>
    <![endif]-->
</head>

<body class="skin-blue sidebar-mini wysihtml5-supported">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="main" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>ECS</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b> ECSELL </b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->

        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown tasks-menu">
                        <div id="google_translate_element" style="margin:13.5px 0 0 0"></div>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs" id="username"><%= username %></span>
                        </a>

                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    EC SELL - E-Commerce-Platform
                                    <small>Admin since Nov. 2016</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">

                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="adminLogin" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Admin LTE</p>

                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                            class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <!--系统设置-->
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-dashboard"></i>
                        <span>基本设置</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="language_manage"><i class="fa fa-edit"></i>网站语言管理</a></li>
                        <li><a href="attention"><i class="fa fa-binoculars"></i>商城注意点管理</a></li>
                        <li><a href="FAQ"><i class="fa fa-question"></i>常见问题解答管理</a></li>
                        <li><a href="privacy"><i class="fa fa-university"></i>网站隐私政策管理</a></li>
                        <li><a href="register_notice"><i class="fa fa-send-o"></i>用户注册须知管理</a></li>
                        <li><a href="contact_us"><i class="fa fa-phone-square"></i>联系我们管理</a></li>
                        <li><a href="about_us"><i class="fa  fa-wechat"></i>关于我们管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-navicon"></i>
                        <span>商城首页管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="banner_manage"><i class="fa fa-edit"></i>轮播图管理</a></li>
                        <li><a href="hot_product_manage"><i class="fa fa-edit"></i>最热产品标签管理</a></li>
                        <li><a href="head_banner_manage"><i class="fa fa-edit"></i>顶部广告管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-gears"></i>
                        <span>类目管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="accessory_upload"><i class="fa fa-upload"></i>类目上传</a></li>
                        <li><a href="accessory_manage"><i class="fa fa-pencil-square"></i>类目管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-cubes"></i>
                        <span>产品管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="product-manage"><i class="fa fa-upload"></i>产品</a></li>
                        <li><a href="product-draft"><i class="fa fa-upload"></i>产品草稿</a></li>
                        <li><a href="upload"><i class="fa fa-upload"></i>产品上传</a></li>
                        <li><a href="crawler_manage"><i class="fa fa-paw"></i>产品爬取</a></li>
                        <li><a href="demo"><i class="fa fa-paw"></i>国旗模板</a></li>
                        <li><a href="specification"><i class="fa fa-check-square"></i>产品属性管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-user-plus"></i>
                        <span>供应商管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="supplier_manage"><i class="fa fa-edit"></i>供应商管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="">
                        <i class="fa fa-sitemap"></i>
                        <span>模板管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="shopping_template"><i class="fa fa-upload"></i>运费模板管理</a></li>
                        <li><a href="fee_manage"><i class="fa fa-edit"></i>我的汇率管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="usermanage"><i class="fa fa-group"></i><span>用户管理</span>
                    </a>
                </li>

                <!--<li><a href="robotlist"><i class="fa fa-circle-o"></i>机器人管理</a></li>-->
                <!--<li><a href="userlist"><i class="fa fa-circle-o"></i>供应商管理</a></li>-->
                <!--<li><a href="loglist"><i class="fa fa-circle-o"></i>栏目管理</a></li>-->
                <!--<li><a href="loglist"><i class="fa fa-circle-o"></i>日志管理</a></li>-->

                <!--用户设置-->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--<section class="content">-->
        <%- body %>
        <!--</section>-->

        <!-- Main content -->

    </div>


    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright © 2016-2017 <a href="#">Commerce Mix</a>.</strong> All rights
        reserved.
    </footer>

</div><!-- /.tab-pane -->
<!-- Stats tab content -->

<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>


<!-- jQuery UI 1.11.4 -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 3.3.5 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="/js/md5.js"></script>
<!-- Morris.js charts -->
<script src="../plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="../plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
</body>
</html>
