<% layout('master.ejs') %>
<link href="/stylesheets/lanrenzhijia.css" type="text/css" rel="stylesheet"/>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">最热标签管理</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->


    <div class="box-body">
        <div class="demo">

            <div class="plus-tag tagbtn clearfix" id="myTags"></div>

            <div class="plus-tag-add">
                <form id="" action="" class="login">
                    <ul class="Form FancyForm">
                        <li>
                            <span class="label">我的标签：</span>
                            <input id="" name="" type="text" class="stext" maxlength="20"/>
                            <label>输入标签</label>
                            <span class="fff"></span>
                        </li>
                        <li>
                            <button type="button" class="Button RedButton Button18" style="font-size:22px;">添加标签
                            </button>
                            <a href="javascript:void(0);">展开推荐标签</a>
                        </li>
                    </ul>
                </form>
            </div><!--plus-tag-add end-->

            <div id="mycard-plus" style="display:none;">
                <div class="default-tag tagbtn">
                    <div class="clearfix">
                        <a value="-1" title="互联网" href="javascript:void(0);"><span>互联网</span><em></em></a>
                        <a value="-1" title="移动互联网" href="javascript:void(0);"><span>移动互联网</span><em></em></a>
                        <a value="-1" title="it" href="javascript:void(0);"><span>it</span><em></em></a>
                        <a value="-1" title="电子商务" href="javascript:void(0);"><span>电子商务</span><em></em></a>
                        <a value="-1" title="广告" href="javascript:void(0);"><span>广告</span><em></em></a>
                        <a value="-1" title="网络编辑" href="javascript:void(0);"><span>网络编辑</span><em></em></a>
                        <a value="-1" title="产品经理" href="javascript:void(0);"><span>产品经理</span><em></em></a>
                        <a value="-1" title="程序员" href="javascript:void(0);"><span>程序员</span><em></em></a>
                        <a value="-1" title="网管" href="javascript:void(0);"><span>网管</span><em></em></a>
                        <a value="-1" title="文案策划" href="javascript:void(0);"><span>文案策划</span><em></em></a>
                        <a value="-1" title="java工程师" href="javascript:void(0);"><span>java工程师</span><em></em></a>
                        <a value="-1" title="php工程师" href="javascript:void(0);"><span>php工程师</span><em></em></a>
                        <a value="-1" title="dreamweaver"
                           href="javascript:void(0);"><span>dreamweaver</span><em></em></a>
                        <a value="-1" title="photoshop" href="javascript:void(0);"><span>photoshop</span><em></em></a>
                        <a value="-1" title="公文写作" href="javascript:void(0);"><span>公文写作</span><em></em></a>
                        <a value="-1" title="70后" href="javascript:void(0);"><span>70后</span><em></em></a>
                        <a value="-1" title="80后" href="javascript:void(0);"><span>80后</span><em></em></a>
                        <a value="-1" title="加班狂" href="javascript:void(0);"><span>加班狂</span><em></em></a>
                    </div>
                    <div class="clearfix" style="display:none;"><a value="-1" title="媒体"
                                                                   href="javascript:void(0);"><span>媒体</span><em></em></a>
                    </div>
                    <div class="clearfix" style="display:none;"><a value="-1" title="网络营销"
                                                                   href="javascript:void(0);"><span>网络营销</span><em></em></a>
                    </div>
                </div>
                <div align="right"><a href="javascript:void(0);" id="change-tips" style="color:#3366cc;">换一换</a></div>
            </div><!--mycard-plus end-->

        </div>


    </div>

    <!-- /.box-body -->
    <div class="box-footer">
        <button class="btn btn-info pull-right">提交</button>
    </div>
    <!-- /.box-footer -->

</div>
<script type="text/javascript" src="/js/lanrenzhijia.js"></script>
