<% layout('master.ejs') %>
<link href="/ueditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/_examples/editor_api.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="box box-info">
    <div class="box-body ">
        <div class="pad margin no-print">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> Note:</h4>
                <big>欢迎来到电商管理后台</big>
            </div>
        </div>
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                       <i class="fa fa-random"></i> &nbsp;功能分类
                    </h2>
                </div><!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>
                        <strong>ECsell Admin Backstage, Inc.</strong><br>
                    </address>
                </div><!-- /.col -->
                <div class="box box-primary">
                    <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="todo-list ui-sortable">
                            <li>
                                <!-- drag handle -->
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                                <!-- todo text -->
                                <span class="text"><a href="attention">基本设置</a></span>
                                <!-- Emphasis label -->
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> Pending</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                </div>
                            </li>
                            <li>
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                                <span class="text"><a href="accessory_manage">首页管理</a></span>
                                <small class="label label-success"><i class="fa fa-clock-o"></i> Release</small>
                                <div class="tools">

                                </div>
                            </li>
                            <li>
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                                <span class="text"><a href="upload">产品管理</a></span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> Pending</small>
                                <div class="tools">

                                </div>
                            </li>
                            <li>
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                                <span class="text"><a href="usermanage">用户管理</a></span>
                                <small class="label label-success"><i class="fa fa-clock-o"></i>Release</small>
                                <div class="tools">

                                </div>
                            </li>

                        </ul>
                    </div><!-- /.box-body -->
                </div>

            </div>


        </section>
    </div>
</div>
<script type="text/javascript">


</script>