<% layout('master.ejs') %>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">产品规格管理</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->


    <div class="box-body">

        <div class="box-footer">

        </div>
    </div>


    <!-- /.box-body -->

    <!-- /.box-footer -->

</div>
<script type="text/javascript">

</script>