<% layout('master.ejs') %>
<link href="/stylesheets/lanrenzhijia.css" type="text/css" rel="stylesheet"/>
<script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">产品规格管理</h3>
    </div>
    <div class="box-body">
        <div class="col-lg-6">
            <div class="box-body ">
                <table id="compatibility" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div class="box-footer">
                <button class="btn btn-info pull-right">提交</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="compatibility" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-info pull-right">提交</button>
            </div>
            <!-- /.box-footer -->
        </div>


        <div class="col-lg-6">
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <table id="type" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-info pull-right">提交</button>
            </div>
            <!-- /.box-footer -->
        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="handOrSoft" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div class="box-footer">
                    <button class="btn btn-info pull-right">提交</button>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="feature" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <div class="box-footer">
                <button class="btn btn-info pull-right">提交</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="pattern" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div class="box-footer">
                    <button class="btn btn-info pull-right">提交</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="material" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div class="box-footer">
                    <button class="btn btn-info pull-right">提交</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-body">
                <table id="pattern" class="table table-bordered " aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th>属性名称</th>
                        <th>添加人</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div class="box-footer">
                    <button class="btn btn-info pull-right">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //初始化table
        $('#compatibility').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#type').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#handOrSoft').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#feature').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#pattern').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#color').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
        //初始化table
        $('#material').DataTable({
            "ajax": "douserlist",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "name"},
                {"data": "nick_name"},
                {"data": "password"},
                {"data": "levelName"},
                {"data": "level"},
                {"data": "registerTime"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }, {
                    "targets": [3],
                    "data": "password",
                    "render": function (data, type, full) {
                        return "********" + "<input id='oldpass' type='hidden' value=" + data + ">";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeRobotForm').removeClass('hidden');
                    $('#changerot').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    $("#account").val(trNode.children().eq(1).html());
                    var sletcval = trNode.children().eq(7).find('input').val();
                    var hiddenid = trNode.children().eq(0).find("input").val();

                    $("#robotid").val(hiddenid);

                    $("#nick_name").val(trNode.children().eq(2).html());
                    $("input[name=password]").val("********");
                    $("input[name=level_name]").val(trNode.children().eq(4).html());

                    console.log(sletcval);

                    $("#roleselect").val(sletcval);

                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeRobotForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        user_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelUer',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
//                                    setTimeout('location.reload()', 1000);
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
    }
</script>