/* Zhengzheng ZHANG [tychio@yeahmobi.com]
 * 2013.9.6
 */
.country-icon{display:inline-block;overflow:hidden;width:20px;height:20px;background-image:url("../icons/icon.png");background-repeat:no-repeat;margin:0 2px}
.country-CN{background-position:0 0}
.country-AF{background-position:-30px 0}
.country-AZ{background-position:-60px 0}
.country-BH{background-position:-90px 0}
.country-BD{background-position:-120px 0}
.country-BN{background-position:-150px 0}
.country-KH{background-position:-180px 0}
.country-TL{background-position:-210px 0}
.country-IN{background-position:-240px 0}
.country-ID{background-position:-270px 0}
.country-IR{background-position:-300px 0}
.country-IQ{background-position:-330px 0}
.country-IL{background-position:-360px 0}
.country-JP{background-position:-390px 0}
.country-JO{background-position:-420px 0}
.country-KZ{background-position:-450px 0}
.country-KW{background-position:-480px 0}
.country-KG{background-position:0 -30px}
.country-LA{background-position:-30px -30px}
.country-LB{background-position:-60px -30px}
.country-MY{background-position:-90px -30px}
.country-MV{background-position:-120px -30px}
.country-MN{background-position:-150px -30px}
.country-MM{background-position:-180px -30px}
.country-NP{background-position:-210px -30px}
.country-KP{background-position:-240px -30px}
.country-OM{background-position:-270px -30px}
.country-PK{background-position:-300px -30px}
.country-PS{background-position:-330px -30px}
.country-PH{background-position:-360px -30px}
.country-QA{background-position:-390px -30px}
.country-SA{background-position:-420px -30px}
.country-SG{background-position:-450px -30px}
.country-KR{background-position:-480px -30px}
.country-LK{background-position:0 -60px}
.country-SY{background-position:-30px -60px}
.country-TJ{background-position:-60px -60px}
.country-TH{background-position:-90px -60px}
.country-TM{background-position:-120px -60px}
.country-AE{background-position:-150px -60px}
.country-UZ{background-position:-180px -60px}
.country-VN{background-position:-210px -60px}
.country-YE{background-position:-240px -60px}
.country-DZ{background-position:-270px -60px}
.country-AO{background-position:-300px -60px}
.country-BJ{background-position:-330px -60px}
.country-BW{background-position:-360px -60px}
.country-BF{background-position:-390px -60px}
.country-BI{background-position:-420px -60px}
.country-CM{background-position:-450px -60px}
.country-CV{background-position:-480px -60px}
.country-CF{background-position:0 -90px}
.country-RO{background-position:-30px -90px}
.country-KM{background-position:-60px -90px}
.country-CG{background-position:-90px -90px}
.country-CI{background-position:-120px -90px}
.country-CD{background-position:-150px -90px}
.country-DJ{background-position:-180px -90px}
.country-EG{background-position:-210px -90px}
.country-GQ{background-position:-240px -90px}
.country-ER{background-position:-270px -90px}
.country-ET{background-position:-300px -90px}
.country-GA{background-position:-330px -90px}
.country-GH{background-position:-360px -90px}
.country-GN{background-position:-390px -90px}
.country-GW{background-position:-420px -90px}
.country-KE{background-position:-450px -90px}
.country-LS{background-position:-480px -90px}
.country-LR{background-position:0 -120px}
.country-MG{background-position:-60px -120px}
.country-MW{background-position:-90px -120px}
.country-ML{background-position:-120px -120px}
.country-MR{background-position:-150px -120px}
.country-MU{background-position:-180px -120px}
.country-MA{background-position:-210px -120px}
.country-MZ{background-position:-240px -120px}
.country-NA{background-position:-270px -120px}
.country-NE{background-position:-300px -120px}
.country-NG{background-position:-330px -120px}
.country-RW{background-position:-360px -120px}
.country-ST{background-position:-390px -120px}
.country-SN{background-position:-420px -120px}
.country-SC{background-position:-450px -120px}
.country-SL{background-position:-480px -120px}
.country-SO{background-position:0 -150px}
.country-ZA{background-position:-30px -150px}
.country-SD{background-position:-60px -150px}
.country-TZ{background-position:-120px -150px}
.country-TG{background-position:-180px -150px}
.country-TN{background-position:-210px -150px}
.country-UG{background-position:-240px -150px}
.country-ZM{background-position:-270px -150px}
.country-ZW{background-position:-300px -150px}
.country-JM{background-position:0 -180px}
.country-PR{background-position:-30px -180px}
.country-DO{background-position:-60px -180px}
.country-KN{background-position:-90px -180px}
.country-VC{background-position:-120px -180px}
.country-LC{background-position:-150px -180px}
.country-TT{background-position:-180px -180px}
.country-CR{background-position:-210px -180px}
.country-SV{background-position:-270px -180px}
.country-GT{background-position:-300px -180px}
.country-HN{background-position:-330px -180px}
.country-NI{background-position:-360px -180px}
.country-PA{background-position:-390px -180px}
.country-DE{background-position:-450px -180px}
.country-MK{background-position:0 -210px}
.country-AT{background-position:-30px -210px}
.country-BG{background-position:-150px -210px}
.country-CY{background-position:-180px -210px}
.country-DK{background-position:-270px -210px}
.country-SK{background-position:-300px -210px}
.country-SI{background-position:-330px -210px}
.country-ES{background-position:-360px -210px}
.country-EE{background-position:-390px -210px}
.country-FI{background-position:-420px -210px}
.country-FR{background-position:-450px -210px}
.country-GR{background-position:0 -240px}
.country-HU{background-position:-30px -240px}
.country-IE{background-position:-60px -240px}
.country-IS{background-position:-90px -240px}
.country-IT{background-position:-120px -240px}
.country-LV{background-position:-150px -240px}
.country-LI{background-position:-180px -240px}
.country-LT{background-position:-210px -240px}
.country-LU{background-position:-240px -240px}
.country-MT{background-position:-270px -240px}
.country-MD{background-position:-300px -240px}
.country-MC{background-position:-330px -240px}
.country-ME{background-position:-360px -240px}
.country-NO{background-position:-390px -240px}
.country-NL{background-position:-420px -240px}
.country-PL{background-position:-450px -240px}
.country-PT{background-position:-480px -240px}
.country-UK{background-position:0 -270px}
.country-CZ{background-position:-30px -270px}
.country-RU{background-position:-90px -270px}
.country-SM{background-position:-120px -270px}
.country-SE{background-position:-180px -270px}
.country-CH{background-position:-210px -270px}
.country-TR{background-position:-240px -270px}
.country-UA{background-position:-270px -270px}
.country-EU{background-position:-300px -270px}
.country-CA{background-position:-360px -270px}
.country-MX{background-position:-420px -270px}
.country-US{background-position:-480px -270px}
.country-AR{background-position:0 -300px}
.country-BO{background-position:-30px -300px}
.country-BR{background-position:-60px -300px}
.country-CL{background-position:-90px -300px}
.country-CO{background-position:-120px -300px}
.country-EC{background-position:-150px -300px}
.country-GY{background-position:-180px -300px}
.country-PE{background-position:-270px -300px}
.country-UY{background-position:-330px -300px}
.country-VE{background-position:-360px -300px}
.country-HK{background-position:-390px -300px}
.country-LY{background-position:-420px -300px}
.country-NZ{background-position:-450px -300px}
.country-RS{background-position:-480px -300px}
.country-PY{background-position:0 -330px}
.country-AU{background-position:-30px -330px}
.country-SR{background-position:-60px -330px}
.country-TJ{background-position:-90px -330px}
.country-FM{background-position:-120px -330px}
.country-AI{background-position:-150px -330px}
.country-__{background-position:30px 30px}
