/* ::::: http://v.tjrjzx.com/css/indexCss/base.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
body { font: 12px/22px "微软雅黑",arial,Verdana,"宋体"; }
a { text-decoration: none; }
q::before, q::after { content: ""; }
.clearfix::after { display: block; clear: both; content: ""; visibility: hidden; height: 0px; }
body { width: 800px; height: 100%; overflow: hidden; }
.pop { background: transparent url(../images/login_large.jpg) no-repeat scroll 0px 0px; color: rgb(255, 0, 0); height: 300px; position: relative; width: 800px; z-index: 999; }
.qqs { color: rgb(217, 217, 18); font-size: 16px; font-weight: bold; position: absolute; bottom: 12px; text-align: center; width: 100%; }
.PopReg { display: block; width: 115px; height: 80px; margin-left: 327px; float: left; margin-bottom: 50px; background: transparent url(../images/regs.png) no-repeat scroll 0px 0px; }
.PopRegs { display: block; width: 115px; height: 80px; margin-left: 25px; float: left; background: transparent url(../images/logins.png) no-repeat scroll 0px 0px; }
.dialog_closes { display: inline-block; width: 10px; height: 10px; background: transparent url(../images/sdk.png) no-repeat scroll -41px 0px; font-size: 0px; overflow: hidden; position: absolute; top: 10px; right: 10px; z-index: 1000; }
