*, body { margin: 0px; padding: 0px; background: transparent none no-repeat scroll center center; }
a, a:link { color: rgb(80, 126, 164); text-decoration: none; text-align: center; }
* { font-family: "微软雅黑"; font-size: 12px; }
