<% layout('../master/en.ejs') %>


<!-- ========== CONTENT START ========== -->
<section id="content" style="padding-top: 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-10" style="margin: 0 auto;float: none">
                <ol class="breadcrumb">
                    <li><a href="#">shopping Cart</a></li>
                </ol>

            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<script>
</script>