<% layout('../backend-master.ejs') %>

<section class="content-header">
    <h1>
        首页广告图
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="main"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">商城</a></li>
        <li class="active">首页广告图</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->


        <div class="box-body">
            <form id="form-signin" action="doupload" method="post" enctype='multipart/form-data'
                  class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">广告图</label>

                    <div class="col-sm-10">
                        <input id="fulAvatar" name="fulAvatar" type="file"/>
                        <img style="width: inherit;" id="logoimg" src="<%= image_url.image_url %>"/>
                    </div>
                    <div class="pull-right">
                        <button id="updateLogo" class="btn btn-info" type="button">上 传</button>
                        <button id="updateName" class="btn btn-info" type="button">提 交</button>
                    </div>
                    <input id="imgoflogo" name="room_logo" type="hidden" value=""/>
                    </input>
            </form>

            <div class="box-footer">

            </div>
        </div>


        <!-- /.box-body -->

        <!-- /.box-footer -->

    </div>
</section>
<script type="text/javascript">

    $(function () {
        $('#updateLogo').on('click', function () {
            var fulAvatarVal = $('#fulAvatar').val()

            if (fulAvatarVal.length == 0) {
                layer.alert('请选择文件！');
                return false;
            }

            var extName = fulAvatarVal.substring(fulAvatarVal.lastIndexOf('.'), fulAvatarVal.length).toLowerCase();

            if (extName != '.png' && extName != '.jpg') {
                layer.alert("请选择JPG或者PNG图片！");
                return false;
            }
            var formData = new FormData($("#form-signin")[0]);
            $.ajax({
                url: 'doupload',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    console.log('上传成功!')
                    layer.alert('上传成功！');
                    $("#logoimg").attr("src", returndata);
                    $("#imgoflogo").val(returndata);
                },
                error: function (returndata) {
                    layer.alert('上传失败，请检查文件后缀名是否正确！');
                }
            });
        })
        $('#updateName').on('click', function () {
            var para = {
                type: 'headBanner',
                image_url: $("input[name=room_logo]").val(),
                upload_time: (new Date().getTime() / 1000).toFixed(),
                status: 'New'

            };

            console.log(para)
            $.ajax({
                url: 'saveHeadBanners',
                type: 'POST',
                data: para,
                success: function (result) {
                    console.log(result, 'yellow')
                    layer.alert('更新成功！');
                }, error: function (err) {
                    if (err) {
                        throw err;
                    } else {
                        layer.alert('更新失败，请检查是否有非法词汇！');
                    }
                }
            });
        })
    });
</script>