<% layout('master.ejs') %>
<link href="/ueditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/_examples/editor_api.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">基本设置</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div><h4>Terms and Conditions</h4></div>

    <!-- /.box-body -->

    <!-- /.box-footer -->

</div>
<script type="text/javascript">

    $(function () {
        $('#updateName').on('click', function () {
            var paramete = {lesson: um.getContent()};
            $.ajax({
                url: 'dochangelesson',
                type: 'POST',
                data: paramete,
                success: function (returndata) {
                    layer.alert('更新成功！');
                }, error: function (returndata) {
                    layer.alert('更新失败，请检查是否有非法词汇！');
                }
            });
        })
    });

</script>