<% layout('../backend-master.ejs') %>

<style>
    input {
        width: 160px;
        height: auto;
    }
</style>
<script src="/js/md5.js"></script>
<script>
    var temp = [];
    function getAllTranslate(src, dst) {
        temp.push(dst);
        if (temp.length > 1) {
            src = temp[temp.length - 2];
        }

        $('table tr input[type=text]').each(function () {
            var that = this;
            var appid = '20161031000031137';
            var key = '5pFIYl4t5Hi1oSXzRv1X';
            var salt = (new Date).getTime();
            var query = $(that).val();
            var from = src;
            var to = dst;
            var str1 = appid + query + salt + key;
            var sign = MD5(str1);
            $.ajax({
                url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                type: 'get',
                dataType: 'jsonp',
                data: {
                    q: query,
                    appid: appid,
                    salt: salt,
                    from: from,
                    to: to,
                    sign: sign
                },
                success: function (data) {
                    $(that).val(data.trans_result[0].dst);
                }
            });
        })
    }
</script>
<section class="content-header">
    <h1>
        类目上传
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="main"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">类目</a></li>
        <li class="active">类目上传</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="col-md-2 pull-right" style="margin: 15px 0">
            <select name="语言选择" class="form-control" onchange="getAllTranslate('zh',this.value)" id="">
                <option value="zh">中文</option>
                <option value="en">英文</option>
                <option value="de">德文</option>
            </select>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <!--<button class="btn btn-info">添加分类</button>-->
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="tb_total table table-bordered">
                        <thead>
                        <tr class="head_table">
                            <th>分类名称</th>
                            <th>分类图片</th>
                            <th>默认展开</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="0_">
                            <td>
                                <i class="fa fa-caret-down pull-left"></i>
                                <i style="display: none" class="fa fa-caret-right pull-left"></i>&nbsp;
                                <input class="one" type="text" placeholder="一级英文类目">
                                <input class="de_one" type="text" placeholder="一级德文类目">
                            </td>
                            <td>
                                <!--<input type="file" id="file" name="file"/><br/>-->
                                <!--<input type="button" id="upload" class="btn btn-info" value="上传图片"/>-->
                            </td>
                            <td>
                                <img class="fa-toggle-on" src="/images/toggle-on.svg" onclick="toggle('off')"
                                     style="display: none" alt="">
                                <img class="fa-toggle-off" onclick="toggle('on')" src="/images/toggle-off.svg" alt="">
                            </td>
                            <td></td>
                            <td>
                                <!--<button class="btn btn-danger">删除</button>-->
                            </td>
                        </tr>
                        <tr class="xyz">
                            <td>&nbsp;<img src="/images/arrow.svg" alt="">&nbsp;
                                <button class="btn btn-info add">添加二级子类</button>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>

        <div class="box-footer">
            <div class="pull-right">
                <button id="updateName" onclick="saveAll()" class="btn btn-info" type="button">提 交</button>
            </div>
        </div>
        <!-- /.box-body -->

        <!-- /.box-footer -->

    </div>
</section>
<script type="text/javascript">
    var count_three = 0;
    var count_two = 0;
    var count_threes = 0;
    var count = 0;
    var deleteId = 0;
    var CategoryALL = [];

    function toggle(param) {
        if (param == 'off') {
            $('.fa-toggle-off').show();
            $('.fa-caret-right').hide();
            $('.fa-caret-down').show();
            $('.fa-toggle-on').hide();
            $('table').find('tr').not('.0_').show();
        } else {
            $('.fa-caret-right').show();
            $('.fa-caret-down').hide();
            $('.fa-toggle-off').hide();
            $('.fa-toggle-on').show();
            $('table').find('tr').not('.0_').hide();
            $('table tr[class=head_table]').show();

        }
    }

    function saveAll() {

        var FirstCategory = $('table tr[class*=0_]').find('input:eq(0)').val()
        var DEFirstCategory = $('table tr[class*=0_]').find('input:eq(1)').val() || $('table tr[class*=0_]').find('input:eq(0)').val()
        var FirstCategory_format = $('table tr[class*=0_]').find('input:eq(0)').val().replace(/\s+/g, "")
        var DEFirstCategory_format = $('table tr[class*=0_]').find('input:eq(1)').val().replace(/\s+/g, "")
        if (FirstCategory) {
            for (var i = 1; i <= $('table tr[class*=cateGory]').length; i++) {
                var n = i + '_';
                var p = i + '_' + i;
                if (getCategory(n, p)) {
                    CategoryALL.push(getCategory(n, p))
                } else {
                    return
                }
            }
            CategoryALL.forEach(function (item) {
                let opt = ('/' + FirstCategory_format + item.secondUrl.replace(/\s+/g, "")).trim()
                item.secondUrl = '/en' + opt
                item.de_secondUrl = '/de' + opt
            })
            var timeStamps = (new Date().getTime() / 10000000).toFixed()
            let rand = FirstCategory_format + '/' + timeStamps + Math.floor((Math.random() * 100) + 1)
            var Category = {
                firstCategory: FirstCategory,
                de_firstCategory: DEFirstCategory,
                firstTimeStamp: timeStamps,
                firstUrl: '/en/' + rand,
                de_firstUrl: '/de/' + rand,
                firstCount: 0,
                secondCategory: JSON.stringify(CategoryALL)
            }
            $.ajax({
                url: 'doAddCategory',
                type: 'POST',
                data: Category,
                dataType: "json",
                traditional: true,
                success: function (result) {
                    if (result == 'success') {
                        layer.msg('添加成功');
                    } else if (result == 'failed') {
                        layer.alert('添加失败，请检查是否有非法词汇！');
                    }
                }, error: function (err) {
                    if (err.status == 200) {
                        layer.msg('添加成功');
                        location.reload();
                    } else {
                        layer.alert('添加失败，请检查是否有非法词汇！');
                    }

                }
            });

            CategoryALL = []
        } else {
            layer.msg('请添加一级类目')
        }
    }

    function getCategory(param, p) {
        var twoArray = [];
        var threeArray = [];
        $('table tr[class*=' + param + ']').each(function () {
            var val = {
                url: $(this).find('a').attr("href"),
                en_value: $(this).find('input:eq(0)').val(),
                de_value: $(this).find('input:eq(1)').val() || $(this).find('input:eq(0)').val()
            }
            twoArray.push(val)
        })
        twoArray.forEach(function (value, index) {
            if (index > 0 && index < twoArray.length - 1) {
                let timeStamp = (new Date().getTime() / 10000000).toFixed()
                let rand = "product/" + timeStamp + Math.floor((Math.random() * 100) + 1) + index
                let third = {
                    thirdTimeStamp: timeStamp,
                    thirdUrl: '/en/' + rand,
                    de_thirdUrl: '/de/' + rand,
                    thirdTitle: value.en_value,
                    de_thirdTitle: value.de_value,
                    thirdImages: value.url.trim()
                }
                threeArray.unshift(third);
            }
        })

        var second_Category = twoArray[0].en_value
        var de_second_Category = twoArray[0].de_value || twoArray[0].en_value
        var second_Category_format = twoArray[0].en_value.replace(/\s+/g, "");
        var de_second_Category_format = twoArray[0].de_value.replace(/\s+/g, "");
        var three_Category = threeArray;
        var timeStamps = (new Date().getTime() / 100000000).toFixed()
        if (second_Category) {
            var totalGate = {
                secondTitle: second_Category,
                de_secondTitle: de_second_Category,
                secondTimeStamp: timeStamps,
                secondUrl: '/' + second_Category_format + '_' + timeStamps + Math.floor((Math.random() * 100) + 1),
                secondCount: 0,
                thirdTitles: three_Category
            }
            return totalGate
        } else {
            layer.msg('请添加二级类目')
        }
    }

    function addThree() {
        count_three++;
        var section = document.createElement('input');
        section.placeholder = '三级类目';
        section.className = 'three_' + count_three.toString();
        document.getElementsByClassName('three')[0].appendChild(section);
    }

    function addThreeUnique(count_two, count_threes) {
        var newSeq = count_two;
        var Three = count_threes;
        Three++;
        var section = document.createElement('input');
        section.placeholder = '三级类目';
        section.className = 'two_' + count_two + Three;
        document.getElementsByClassName('three')[newSeq].appendChild(section);
    }

    function addTwo() {
        count_two++;
        count_threes++;
        var div_head = document.createElement('div');
        div_head.className = "col-sm-9 two";
        var input = document.createElement('input');
        input.placeholder = "二级类目";
        input.className = 'two_' + count_two.toString();
        div_head.appendChild(input);

        var div_head_two = document.createElement('div');
        div_head_two.className = "col-sm-9" + " " + 'two_' + count_two.toString();
        var input_three = document.createElement('input');
        input_three.placeholder = "三级类目";
        input_three.className = 'two_' + count_two.toString() + '_' + count_threes.toString();
        div_head_two.appendChild(input_three);

        document.getElementsByClassName('total')[0].appendChild(div_head);
        document.getElementsByClassName('total')[0].appendChild(div_head_two);

        var div_head_two_img = document.createElement('div');
        div_head_two_img.className = "col-sm-3";
        var img = document.createElement('img');
        img.className = count_two.toString();
        img.src = "/images/add.svg";

        img.onclick = function () {
            count_threes++;
            var section = document.createElement('input');
            section.placeholder = '三级类目';
            section.className = 'two_' + count_two.toString() + '_' + count_threes.toString();
            document.getElementsByClassName('two_' + count_two)[count_threes].appendChild(section);
        };

        var t = document.createTextNode("添加三级类目");
        div_head_two_img.appendChild(img);
        div_head_two_img.appendChild(t);


        document.getElementsByClassName('total')[0].appendChild(div_head_two_img);

    }

    function add(currentRowID) {
        //遍历每一行，找到指定id的行的位置i,然后在该行后添加新行
        $.each($('table:first tbody tr'), function (i, tr) {

            var newCurrentRowID = currentRowID + '_' + " " + 'cateGory';
            var tr_new = currentRowID + '_';
            if ($(this).attr('class') == newCurrentRowID) {
                if ($('table tr[class*=' + tr_new + ']').find('input').val() == "") {
                    layer.msg('请添加二级分类');
                } else {
                    deleteId++
                    //获取当前行
                    var currentRow = $('table:first tbody tr:eq(' + i + ')');
                    console.log('table:first tbody tr:eq(' + i + ')')
                    //获取当前时间
                    var now = new Date()
                    var date = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate()
                    //要添加的行的id
                    var addRowID = currentRowID + '_' + deleteId

                    var str = '<tr class="' + addRowID + '"><td><img  style="margin-left: 40px" src="/images/jiao.svg" alt="">&nbsp;<input type="text" placeholder="三级英文类目">&nbsp;<input type="text" placeholder="三级德文类目">&nbsp;</td><td> <input type="file" id="file' + addRowID + '" name="file"/><br/> <a id="' + addRowID + 'test" style="display: none" href=""></a><input type="button" onclick="upload(this.id)" id="' + addRowID + '" name="" class="btn btn-info" value="上传图片"/> </td><td></td> <td>' + date + '</td> <td> <button onclick="deleteThreeRow (this)" class="btn btn-danger">删除</button> </td></tr>';
                    //当前行之后插入一行
                    currentRow.after(str)
                }
            }
        })

    }

    function deleteThreeRow(obj) {
        $(obj).parents("tr").remove();
    }

    function deleteTwo(obj) {
        var newOBJ = obj + '_';
        $('table tr[class*=' + newOBJ + ']').remove();
    }


    $(function () {
        $(".add").click(function () {
            if ($('table tr[class*=0_]').find('input').val() == "") {
                layer.msg('请添加一级分类');
            } else {
                count++;
                var now = new Date();
                var date = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
                var cla = count + '_' + " " + 'cateGory';
                var claBTN = count + '_btn';
                $(".xyz").before('<tr class="' + cla + '"><td><img style="margin-left: 20px" src="/images/jiao.svg" alt="">&nbsp;<input type="text" placeholder="二级英文类目">&nbsp;<input type="text" placeholder="二级德文类目">&nbsp;<img class="' + cla + '" src="/images/arrow.svg" alt="">&nbsp; <button onclick="add(' + count + ')" class="btn btn-info add ' + cla + '">添加三级子类</button> </td><td></td><td> </td> <td>' + date + '</td> <td> <button onclick="deleteTwo(' + count + ')" class="btn btn-danger ' + cla + '">删除</button> </td> </tr><tr class="' + claBTN + '"></tr>');
            }
        });
    });

    function uploadFile(file_id) {
        var file = document.getElementById("file" + file_id)
        var formData = new FormData();
        for (var i = 0; i < file.files.length; i++) {
            if (file.files[i].type != 'image/png' && file.files[i].type != 'image/jpg') {
                layer.alert('上传图片格式有误')
            } else {
                formData.append('file', file.files[i]);
                $.ajax({
                    url: '/admin/uploadImage',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#' + file_id).val('上传成功');
                        $('#' + file_id + 'test').attr('href', data)
                    },
                    error: function () {
                    }
                });
            }
        }

    }

    function upload(id) {
        uploadFile(id);
    }


</script>
