<% layout('../backend-master.ejs') %>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">爬虫管理</h3>
    </div>

    <form class="form-horizontal  layer_notice" hidden="hidden" id="files"
          enctype="multipart/form-data"
          action="uploadFile"
          method="post">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">导入表格:</label>

                <div class="col-sm-6">
                    <input type="file" id="file" name="file"/>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <input type="button" class="btn btn-info pull-right closeBtn" id="file_sub" value="导入" name="submit">
        </div>
    </form>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="row" style="margin: 15px;">
            <div class="col-md-8">
                <input class="form-control" type="text" id="crawler" placeholder="请输入爬取链接">
            </div>
            <div class="col-md-1">
                <button id="start_crawel" class="btn btn-info" onclick="start_crawler(this.id)">爬取</button>
            </div>
            <div class="col-md-3">
                <button id="start_batch_crawler" class="btn btn-info" onclick="start_batch_crawler()">批量爬取</button>
            </div>
        </div>


        <table id="robotetable" class="table table-bordered " aria-describedby="example2_info">
            <thead>
            <tr>
                <td>Title</td>
                <td>Image</td>
                <td>Property</td>
                <td>Delete</td>
                <td>Upload</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="modal fade" id="mycrawel_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">图片详情</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" width="150px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="property-detail" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 1100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">图片详情</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered " aria-describedby="example2_info">
                            <thead>
                            <tr>
                                <td>Compatibility</td>
                                <td>Type</td>
                                <td>Hard / Soft</td>
                                <td>Features</td>
                                <td>Pattern</td>
                                <td>Color</td>
                                <td>Material</td>
                                <td>Dimensions</td>
                                <td>Net Weight</td>
                                <td>Customization</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../plugins/datatables/jquery.dataTables.css">
<script>

    //单条爬取
    function start_crawler(link) {
        if (link == 'start_crawel') {
            link = $('#crawler').val()
        }
        if (link == '') {
            layer.tips('请输入爬取链接', '#crawler');
        } else {
            $.ajax({
                url: 'crawler',
                type: 'GET',
                data: {
                    link: link
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    var title = res.title;//标题
                    var img = res.img;
                    var imgArray = [];
                    var imgArrayQuery = [];
                    img.forEach(function (item, index) {
                        imgArrayQuery.push(item.image_url);
                        imgArray.push('<a data-url="/crawel_images/' + item.image_url + '" class="view-crawel_img btn btn-link" data-toggle="modal" data-target="#mycrawel_img">图片' + (index + 1) + '</a>');
                    })
                    var imgQuery = imgArray.join('');//图片链接
                    var property = res.property;
                    var compatibility = property[1].value.replace(/[\r\n]/g, "");
                    var type = property[2].value;
                    var hardOrSoft = property[3].value.replace(/[\r\n]/g, "");
                    var features = property[4].value.replace(/[\r\n]/g, "");
                    var pattern = property[5].value.replace(/[\r\n]/g, "");
                    var color = property[6].value.replace(/[\r\n]/g, "");
                    var material = property[7].value.replace(/[\r\n]/g, "");
                    var dimensions = property[8].value.replace(/[\r\n]/g, "");
                    var netWeight = property[9].value.replace(/[\r\n]/g, "");
                    var customization = property[10] != 'undefined' ? null : property[10].value.replace(/[\r\n]/g, "");

                    var myhtml = '<tr>' +
                            '<td>' + title + '</td>' +
                            '<td>' + imgQuery + '</td>' +
                            '<td><a class="property-detail btn btn-xs btn-info" data-toggle="modal" data-target="#property-detail">详情</a></td>' +
                            '<td style="display: none" class="compatibility">' + compatibility + '</td>' +
                            '<td style="display: none" class="type">' + type + '</td>' +
                            '<td style="display: none" class="hardOrSoft">' + hardOrSoft + '</td>' +
                            '<td style="display: none" class="features">' + features + '</td>' +
                            '<td style="display: none" class="pattern">' + pattern + '</td>' +
                            '<td style="display: none" class="color">' + color + '</td>' +
                            '<td style="display: none" class="material">' + material + '</td>' +
                            '<td style="display: none" class="dimensions">' + dimensions + '</td>' +
                            '<td style="display: none" class="netWeight">' + netWeight + '</td>' +
                            '<td style="display: none" class="customization">' + customization + '</td>' +
                            '<td><a class="btn btn-danger delete-crawel-detail">删除</a></td>' +
                            '<td><a class="btn btn-primary upload-crawel-detail">上传</a></td>' +
                            '</tr>';
                    $('#robotetable tbody').append(myhtml);

                    $('.view-crawel_img').click(function () {
                        var src = $(this).attr('data-url');
                        $('#mycrawel_img').find('.modal-body img').attr('src', src);
                    })
                    $('.delete-crawel-detail').click(function () {
                        $(this).parent('tr').remove();
                    })
                    $('.upload-crawel-detail').click(function () {
                        var data = [];
                        data['title'] = title;
                        data['img'] = imgArrayQuery;
                        data['propertyArray'] = [];
                        data['propertyArray']['compatibility'] = [];
                        $(this).parents('tr').find('.compatibility span').each(function (index, item) {
                            data['propertyArray']['compatibility'][index] = $(item).text();
                        })
                        data['propertyArray']['type'] = $(this).parents('tr').find('.type a').html();
                        data['propertyArray']['hardOrSoft'] = $.trim($(this).parents('tr').find('.hardOrSoft').text());
                        data['propertyArray']['features'] = $.trim($(this).parents('tr').find('.features').text());
                        data['propertyArray']['pattern'] = $.trim($(this).parents('tr').find('.pattern').text());
                        data['propertyArray']['color'] = $.trim($(this).parents('tr').find('.color').text());
                        data['propertyArray']['material'] = $.trim($(this).parents('tr').find('.material').text());
                        data['propertyArray']['dimensions'] = $.trim($(this).parents('tr').find('.dimensions').text());
                        data['propertyArray']['netWeight'] = $.trim($(this).parents('tr').find('.netWeight').text());
                        data['propertyArray']['customization'] = $.trim($(this).parents('tr').find('.customization').text());
                        console.log(data);
//                        $.ajax({
//                            url: '/',
//                            type: 'POST',
//                            data: data,
//                            cache: false,
//                            contentType: false,
//                            processData: false,
//                            success: function (res) {
//                                console.log(res)
//                            },
//                            error: function () {
//                                layer.msg('内部服务器错误');
//                            }
//                        });

                    })

                    $('.property-detail').click(function () {
                        $('#property-detail table tbody').empty();
                        var compatibility = $(this).parents('tr').find('.compatibility').html();
                        var type = $(this).parents('tr').find('.type').html();
                        var hardOrSoft = $(this).parents('tr').find('.hardOrSoft').html();
                        var features = $(this).parents('tr').find('.features').html();
                        var pattern = $(this).parents('tr').find('.pattern').html();
                        var color = $(this).parents('tr').find('.color').html();
                        var material = $(this).parents('tr').find('.material').html();
                        var dimensions = $(this).parents('tr').find('.dimensions').html();
                        var netWeight = $(this).parents('tr').find('.netWeight').html();
                        var customization = $(this).parents('tr').find('.customization').html();
                        var myhtml = '<tr>' +
                                '<td class="compatibility">' + compatibility + '</td>' +
                                '<td class="type">' + type + '</td>' +
                                '<td class="hardOrSoft">' + hardOrSoft + '</td>' +
                                '<td class="features">' + features + '</td>' +
                                '<td class="pattern">' + pattern + '</td>' +
                                '<td class="color">' + color + '</td>' +
                                '<td class="material">' + material + '</td>' +
                                '<td class="dimensions">' + dimensions + '</td>' +
                                '<td class="netWeight">' + netWeight + '</td>' +
                                '<td class="customization">' + customization + '</td>' +
                                '</tr>';
                        $('#property-detail table tbody').append(myhtml);
                    })

                },
                error: function (returndata) {
                    layer.alert('爬取失败，请检查链接是否有误！');
                }
            });
        }
    }
    //多个爬取
    function start_batch_crawler() {
        $('#files').show();
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            shade: false,
            title: false, //不显示标题
            content: $('#files'), //捕获的元素
            area: ['420px', "400px"],
            cancel: function (index) {
                layer.close(index);

            },
            scrollbar: false
        });
    }

    //表格上传
    function uploadFile() {
        var file = document.getElementById("file")
        var formData = new FormData();
        for (var i = 0; i < file.files.length; i++) {
            formData.append('file', file.files[i]);
        }
        $.ajax({
            url: 'uploadFile',
            type: 'POST',
            data: formData,
            // async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                console.log(res)
                if (res.err_desc == 'No file passed' || res.error_code == 1) {
                    layer.msg('请选取表格');
                } else {
                    layer.msg('上传成功');
                    res.data.forEach(function (item) {
                        start_crawler(item.link);
                    })
                }
            },
            error: function () {
                layer.msg('内部服务器错误');
            }
        });
    }
    function postPage() {
        var uploada = document.getElementById('file_sub');
        uploada.addEventListener("click", function () {
            uploadFile();
        }, false);
    }
    window.onload = function () {
        postPage();
    }
</script>