<% layout('../backend-master.ejs') %>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">类目管理</h3>
    </div>

    <!-- form start -->
    <!--<div class="box-body">-->
        <!--<form class="form-horizontal">-->
            <!--<div class="box-body">-->
                <!--<div class="form-group col-sm-4">-->
                    <!--<label for="inputEmail3" class="col-sm-5 control-label">一级类目</label>-->

                    <!--<div class="col-sm-7">-->
                        <!--<input type="email" class="form-control" id="fst-category" placeholder="fst-category">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group col-sm-4">-->
                    <!--<label for="inputPassword3" class="col-sm-5 control-label">二级类目</label>-->

                    <!--<div class="col-sm-7">-->
                        <!--<input type="password" class="form-control" id="sed-category" placeholder="sed-category">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group col-sm-4">-->
                    <!--<label for="inputPassword3" class="col-sm-5 control-label">三级类目</label>-->

                    <!--<div class="col-sm-7">-->
                        <!--<input type="password" class="form-control" id="sed-category" placeholder="sed-category">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group col-sm-12">-->
                    <!--<button type="submit" class="btn btn-info pull-right">搜索</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <!--<div class="box-body">-->
        <!--<form class="form-horizontal">-->
            <!--<div class="box-body">-->
                <!--<table id="robotetable" class="table table-bordered " aria-describedby="example2_info">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>一级类目</th>-->
                        <!--<th>二级类目</th>-->
                        <!--<th>三级类目</th>-->
                        <!--<th>修改操作</th>-->
                        <!--<th>删除操作</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--</tbody>-->
                    <!--<tfoot>-->
                    <!--</tfoot>-->
                <!--</table>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
</div>
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../plugins/datatables/jquery.dataTables.css">
<script>

</script>