<% layout('../backend-master.ejs') %>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">管理产品</h3>
    </div>
    <div class="box-body">
        <div class="body-header">
            <div class="col-sailtips clearfix">
                <span class="leftcol-tip">温馨提示：</span>
                <div class="rightcol-tip">
                    <p class="addheight" id="hideTipsBox">
                        1.您添加的产品需要通过审核后才能上架交易，审核时间通常在24-28个小时之内，遇特殊情况会稍有延迟，敬请谅解。<br>
                        2.请核对您添加的产品是否符合<a target="_blank"
                                          href="http://seller.dhgate.com/policy/110305.html">敦煌网产品发布规则</a>，不符合规则的产品将不能通过审核<br>
                        3.现在起您发布的上架产品都能够展示在店铺中了！同时还能设置加载搜索产品，获取更多曝光率！
                        <a target="_blank" href="http://seller.dhgate.com/help/c0303/16643.html">了解更多</a>
                    </p>
                    <span class="viewticps viewshow " id="viewTips">展开</span>
                </div>
            </div>
            <div id="newGuideTarget2" class="rtab-warp">
                <ul>
                    <li>
                        <a href="/prodmanage/shelf/prodShelf.do?dhpath=10001,21001,0202">
                            <span id="shelfProductNum">
								已上架<b>0</b>
							</span>
                        </a>
                    </li>
                    <li>
                        <a href="/prodmanage/audit/prodAudit.do?dhpath=10001,21001,0202">
                            <span id="auditProductNum">
								待审核<b>0</b>
							</span>
                        </a>
                    </li>
                    <li class="current">
                        <a href="/prodmanage/audit/prodAuditFail.do?dhpath=10001,21001,0202">
                            <span id="auditFailProductNum">
								审核未通过<b>0</b>
							</span>
                        </a>
                    </li>
                    <li>
                        <a href="/prodmanage/downshelf/prodDownShelf.do?dhpath=10001,21001,0202">
                            <span id="downShelfProductNum">
								已下架<b>0</b>
							</span>
                        </a>
                    </li>
                </ul>
                <div class="propbox tipstion">
                    <input type="button" value="一键修改" class="j-onekey">
                </div>
            </div>
        </div>
        <div class="condbox clearfix searchConditions" id="newGuideTarget3">
            <div id="j-lsStop">
                <p class="lsPone">
                    <span class="tname">关键词：</span>
                    <input type="text" id="productName" name="prodAuditFailForm.productName"
                           class="cond-input condwid1 defaultcolor" data-value="输入产品名或关键词" value="输入产品名或关键词">
                    <span class="tname">产品组：</span>
                    <select name="" id="firSelectproductgroup" class="j-select-root mksearchselect addwid113">
                        <option value="" title="请选择产品分组">请选择产品分组</option>
                        <option value="nogroup" title="未分组">未分组</option>
                    </select>
                    <select name="" id="secSelectproductgroup" class="j-select-sub mksearchselect addwid113"
                            style="display:none;"></select>
                    <input type="hidden" class="j-select-hidden" id="selectproductgroup"
                           name="prodAuditFailForm.selectedProdGroupId" value="">
                    <span class="clickSpanOne" style="display:none;">
                            <span class="lsBtnOne">
                            <input name="searchSubmitbtn" type="button" value="搜索">
                            </span>
                            <span class="lsBtnTwo">
                                <input name="searchResetbtn" type="button" value="重置">
                            </span>
                        </span>
                    <span id="j-clickOpen" class="lsStopTwo "> 收起搜索条件<b></b></span>
                    <span class="tname">诚保产品：</span>
                    <select class="addwid113" name="prodAuditFailForm.prodSupportPlan">
                        <option value="">所有</option>
                        <option value="1">海外仓</option>
                        <option value="2">品质保证</option>
                        <option value="3">中国品牌</option>
                    </select>
                </p>
                <p class="lsPone">
                    <span class="tname">产品编号：</span>
                    <input type="text" id="searchItemcode" name="prodAuditFailForm.itemcode"
                           class="cond-input condwid1 defaultcolor" data-value="输入完整产品编号" value="输入完整产品编号">
                    <span class="tname">商品编码：</span>
                    <input type="text" id="searchSkuCode" name="prodAuditFailForm.skuCode"
                           class="cond-input condwid1 defaultcolor" data-value="输入商品编码" value="输入商品编码">
                    &nbsp;&nbsp;&nbsp;
                    <span>审核未通过原因：</span>
                    <select class="listing-box addwid113" name="prodAuditFailForm.selectedCounterfeittypeid">
                        <option value="">请选择</option>
                        <option value="100003">违规</option>
                        <option value="100022">侵权</option>
                        <option value="100006">禁销</option>
                    </select>
                </p>
                <p class="lsPone">
                    <span class="tname">更新日期：</span>
                    <input type="text" class="cond-input condwid3 calendarFocus timeImg"
                           name="prodAuditFailForm.operateDateBeginStr" id="operateDateBegin" value="" readonly=""><span
                            class="calendar_append"></span>
                    <span>到</span>
                    <input type="text" class="cond-input condwid3 calendarFocus timeImg"
                           name="prodAuditFailForm.operateDateEndStr" id="operateDateEnd" value="" readonly=""><span
                            class="calendar_append"></span>

                    <span class="clickSpanTwo">
                            <span class="lsBtnOne">
                                <input type="button" value="搜索" name="searchSubmitbtn">
                            </span>
                            <span class="lsBtnTwo">
                                <input type="button" value="重置" name="searchResetbtn">
                            </span>
                        </span>
                </p>
            </div>
        </div>
    </div>

    <div class="box-body">
        <form class="form-horizontal">
            <div class="box-body">
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>产品信息</th>
                        <th>产品组</th>
                        <th>订单数</th>
                        <th>有效期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
//    $.ajax({
//        type: 'get',
//        url: '/api/v1/admin/product?status=online&&expiration_time=1',
//        dataType: 'json',
//        success: function (data) {
//            console.log(data)
//        },
//        error: function () {
//            alert('参数有误，创建失败！')
//        }
//    })
</script>