<% layout('../backend-master.ejs') %>
<section class="content-header">
    <h1>
        供应商
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="main"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">产品</a></li>
        <li class="active">供应商管理</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <input type="button" value="添加供应商" id="addRobotBtn" style="margin-left: 50px"
                   class='btn btn-primary pull-right'/>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <table id="Supplier" class="table table-bordered " aria-describedby="example2_info">
                <thead>
                <tr>
                    <th></th>
                    <th>供应商编号</th>
                    <th>供应商名称</th>
                    <th>供应商位置</th>
                    <th>修改时间</th>
                    <th>修改操作</th>
                    <th>删除操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

        <div class="form-horizontal  layer_notice hidden" id="recordDetail">
            <table id="recordTb" class="table table-bordered " aria-describedby="example2_info">
                <thead>
                <tr>
                    <th>用户归属</th>
                    <th>操作人</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

        <!--更新 form start -->
        <div class="form-horizontal  layer_notice hidden" id="changeSupplerForm">
            <form class="" hidden="hidden" action="changeSuppler" method="post" style="margin-top: 50px"
                  id="changeSuppler">

                <div class="box-body">
                    <input type="hidden" class="form-control" name="change_id" id="change_id"/>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">供应商名称</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="change_supplier_name"
                                   name="change_supplier_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">供应商位置</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="change_add_by" name="change_add_by">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" id="subRobotChange" class="btn btn-info pull-right closeBtn">确定</button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /.box-body -->
        </div>

        <!--添加 form start -->
        <div class="form-horizontal  layer_notice hidden" id="addSupplierForm">
            <form class="" hidden="hidden" action="addSupplier" style="margin-top: 50px" method="post" id="addSupplier">
                <div class="box-body">
                    <input type="text" style="display: none" class="form-control" name="id" id="id"/>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">供应商名称</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="supplier_name" name="supplier_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">供应商位置</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="add_by" name="add_by">
                        </div>
                    </div>

                </div>


                <div class="box-footer">
                    <button type="button" id="subaddRobotBtn" class="btn btn-info pull-right closeBtn">添加</button>
                </div>
            </form>


        </div>

    </div>
</section>
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../plugins/datatables/jquery.dataTables.css">
<script>
    var trNodep;
    $(document).ready(function () {

        //提交添加
        $("#subaddRobotBtn").on('click', function () {

            var date = new Date();
            var parmets = {
                add_name: $("#supplier_name").val(),
                add_by: $("#add_by").val(),
                add_time: date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate(),
                add_time_number: (date.getTime() / 1000).toFixed()
            }

            if (parmets.add_name == '') {
                layer.tips('请填写供应商', '#supplier_name')
            } else if (parmets.add_by == '') {
                layer.tips('请填写供应商位置', '#add_by')
            } else {
                console.log(parmets)
                $.ajax({
                    url: 'doAddSupplier',
                    type: 'POST',
                    data: parmets,
                    success: function (retmsgurndata) {
                        $("#form-signin").hide();
                        setTimeout('location.reload()', 1000);
                        layer.msg('添加成功');
                        layer.closeAll();
                        $("#supplier_name").val('');
                        $("#add_by").val('');

                    }, error: function (returndata) {
                        alert('更新失败，请检查是否有非法词汇！');
                    }
                });
            }
        });
        //提交更新
        $('#subRobotChange').on('click', function () {
            if ($("#change_supplier_name").val() == '') {
                layer.tips('请选取供应商', "#change_supplier_name")
            } else {
                var parmets = {
                    id: $("#change_id").val(),
                    add_name: $("#change_supplier_name").val(),
                    add_by: $("#change_add_by").val()
                };
                $.ajax({
                    url: 'doChangeSupplier',
                    type: 'POST',
                    data: parmets,
                    success: function (returndata) {
                        trNodep.children().eq(2).html($("input[name=change_supplier_name]").val());
                        trNodep.children().eq(3).html($("input[name=change_add_by]").val());
                        trNodep.children().eq(4).html(getDate());
                        layer.closeAll();
                        layer.alert('修改成功');
                    }, error: function (returndata) {
                        alert('更新失败，请检查是否有非法词汇！');
                    }
                });
            }
        });

        function getDate() {
            var date = new Date();
            var add_time = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes()
            return add_time
        }

        //添加用户显示层
        $("#addRobotBtn").on('click', function () {
            $('#addSupplierForm').removeClass('hidden');
            $('#addSupplier').show();
            layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                shade: false,
                title: false, //不显示标题
                content: $('#addSupplierForm'), //捕获的元素
                area: ['420px', "400px"],
                cancel: function (index) {
                    layer.close(index);
                },
                scrollbar: false
            });
        });
        //初始化tables
        $('#Supplier').DataTable({
            "ajax": "supplierList",//获取数据的url
            "bFilter": false,                       //不使用过滤功能
            "bLengthChange": false,                 //用户不可改变每页显示数量
            "iDisplayLength": 9,                    //每页显示8条数据
            "oLanguage": {                          //汉化
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "当前数据为从第 _START_ 到第 _END_ 条数据；总共有 _TOTAL_ 条记录",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                }
            },
            "columns": [
                {"data": "_id"},
                {"data": "supplier_id"},
                {"data": "name"},
                {"data": "add_location"},
                {"data": "add_time"},
                {"data": "add_time_number"},
                {"data": "add_time_number"},
                {"data": "add_time_number"}
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "data": "_id",
                    "render": function (data, type, full) {
                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [5],
                    "data": "level",
                    "render": function (data, type, full) {
                        return "<button type='button' id='update' class='btn btn-primary updatess'>修改</button>";
                    }
                },
                {
                    "targets": [6],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<button type='button' id='delete' class='btn btn-primary deletess'>删除</button>" + "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                },
                {
                    "targets": [7],
                    "data": "level",
                    "render": function (data, type, full) {

                        return "<input type='hidden' value='" + data + "' class='btn btn-primary update'>";
                    }
                }
            ], "fnDrawCallback": function (oSettings, json) {
                $(".updatess").click(function () {
                    $('#changeSupplerForm').removeClass('hidden');
                    $('#changeSuppler').show();
                    var trNode = $(this).parent().parent();
                    trNodep = trNode;
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    $('#change_id').val(hiddenid);
                    $("#change_supplier_name").val(trNode.children().eq(2).html());
                    $("#change_add_by").val(trNode.children().eq(3).html());


                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim',
                        shade: false,
                        title: false, //不显示标题
                        content: $('#changeSupplerForm'), //捕获的元素
                        area: ['420px', "400px"],
                        cancel: function (index) {
                            layer.close(index);

                        },
                        scrollbar: false
                    });
                });
                //绑定删除事件
                $(".deletess").on('click', function () {
                    var trNode = $(this).parent().parent();
                    var hiddenid = trNode.children().eq(0).find("input").val();
                    var parmets = {
                        suppler_id: hiddenid
                    }
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '返回'] //按钮
                    }, function () {
                        $.ajax({
                            url: 'doDelSuppler',
                            type: 'POST',
                            data: parmets,
                            success: function (returndata) {
                                if (returndata.code == '200') {
                                    layer.msg('删除成功');
                                    trNode.children().hide();
                                } else if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }, error: function (returndata) {
                                if (returndata.code == '500') {
                                    layer.alert('更新失败，请检查是否有非法词汇！');
                                }
                            }
                        });
                    }, function () {
                        layer.msg('已取消');
                    });
                });
            }
        });
    });

</script>