<% layout('master.ejs') %>

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <h1 class="page-title">Sign In or Register a New Account</h1>
        <div class="gap-10"></div>

        <div class="row">
            <div class="col-sm-6">

                <h3>Log In</h3>
                <div class="gap-20"></div>
                <form role="form" action="/dologin" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" name="name" id="login_email" placeholder="Enter">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="password" id="login_password"
                               placeholder="Password">
                    </div>
                    <a href="#" class="pull-left" id="forgot-password">Forgot Your Password?</a>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg" id="login">Log In</button>
                    </div>
                </form>
                <div class="gap-30"></div>

            </div>
            <div class="col-sm-6">

                <h3>Register a New Account</h3>
                <div class="gap-20"></div>
                <p>* Indicates required fields.</p>
                <div role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" id="register_email" name="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" placeholder="Confirm Enter">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="password" id="register_password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="password" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="checkbox pull-left">
                        <label>
                            *<input type="checkbox"> I agree to MiniInTheBox.com <a href="/teamOfUse">Terms and Conditions</a>.
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                    </div>
                </div>
                <div class="gap-30"></div>

            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<script>
//    $.ajax({
//        type: 'POST',
//        url: '/doregister',
//        data: {email: $('#register_email').val(), password: $('#register_password').val()},
//        dataType: 'json',
//        success: function(data){
//            console.log(data);
//        }
//    });
</script>