<% layout('master.ejs') %>

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <h1 class="page-title">Sign In or Register a New Account</h1>
        <div class="gap-10"></div>

        <div class="row">
            <div class="col-sm-6">

                <h3>Log In</h3>
                <div class="gap-20"></div>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" id="exampleInputEmail" placeholder="Enter">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <a href="#" class="pull-left" id="forgot-password">Forgot Your Password?</a>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                    </div>
                </form>
                <div class="gap-30"></div>

            </div>
            <div class="col-sm-6">

                <h3>Register a New Account</h3>
                <div class="gap-20"></div>
                <p>* Indicates required fields.</p>
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" placeholder="Confirm Enter">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">*</div>
                            <input class="form-control input-lg" type="email" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="checkbox pull-left">
                        <label>
                            *<input type="checkbox"> I agree to MiniInTheBox.com <a href="#">Terms and Conditions</a>.
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                    </div>
                </form>
                <div class="gap-30"></div>

            </div>
        </div>


    </div>
</section>

<!-- ========== CONTENT END ========== -->