<% layout('master.ejs') %>

<!-- ========== CONTENT START ========== -->
<!--点击二级类目进入的产品页面-->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <script>
            $(function () {
            })
        </script>

        <!-- ========== SLIDER END ========== -->

        <!-- ========== CONTENT START ========== -->

        <section id="content">
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">For Woman</a></li>
                    <li class="active">535232532 #1</li>
                </ol>

                <div class="row">

                    <div class="col-sm-12">

                        <ul class="products row">


                        </ul>

                        <!--<ul class="pagination">-->
                            <!--<li><a href="#">&laquo;</a></li>-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#">5</a></li>-->
                            <!--<li><a href="#">&raquo;</a></li>-->
                        <!--</ul>-->

                    </div>

                </div>

            </div>
        </section>

    </section>

    <!-- Main content -->

</div>

<script>
    $(function () {
        $('#zlight-nav').zlightMenu();
    });
</script>
<!-- ========== CONTENT END ========== -->

<!-- ========== CONTENT START ========== -->

<br/>
<br/>
<%= product %>
<!-- ========== CONTENT END ========== -->

<script>

</script>