<footer id="footer">
    <div class="container">
        <hr>
        <div class="row">

            <div class="col-sm-2">
                <aside class="widget widget_nav_menu">
                    <h3 class="widget-title">ECSell</h3>
                    <ul>
                        <li><a href="/en/">Home</a></li>
                        <li><a href="/en/about-us">About Us</a></li>
                        <li><a href="/en/login">Log In / Sign Up</a></li>
                    </ul>
                </aside>
            </div>


            <div class="col-sm-2">
                <aside class="widget widget_nav_menu">
                    <h3 class="widget-title">Info</h3>
                    <ul>
                        <li><a href="/en/contact-us">Contact</a></li>
                        <li><a href="/en/FAQ">FAQ</a></li>
                        <li><a href="/en/attention">Attention</a></li>
                        <li><a href="/en/team-of-use">Terms of Service</a></li>
                        <li><a href="/en/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </aside>
            </div>

            <div class="col-sm-3">

                <aside class="widget widget_newsletter">
                    <h3 class="widget-title">Newsletter</h3>
                    <form action="#" id="newsletter">
                        <label for="newsletter-email">Get Our Newsletter</label>
                        <div class="input-group">
                            <input type="text" name="newsletter-email" id="newsletter-email" placeholder="Email"
                                   class="form-control input-lg">
                            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button"><i class="fa fa-envelope"></i></button>
              </span>
                        </div>
                    </form>
                </aside>

                <aside class="widget widget_social_profiles">
                    <h3 class="widget-title">Lets Get Connected</h3>
                    <ul class="social-profiles">
                        <li>
                            <a href="#" title="Facebook">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google+">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Pinterest">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                </aside>

            </div>

            <div class="col-sm-3">

                <aside class="widget widget_text">
                    <h3 class="widget-title">We Accept</h3>
                    <img src="/assets/img/images/payments.png" alt="">
                </aside>

                <aside class="widget widget_text">
                    <h3 class="widget-title">Free Shipping</h3>
                    <p class="free-shipping"><i class="fa fa-plane fa-3x"></i> <span>On orders over $50</span></p>
                </aside>

            </div>

        </div>

    </div>

    <div id="copyright">
        <div class="container">&copy; Copyright ECSELL 2016 | All Rights Reserved | Designed by <a
                    href="http://themeforest.net/user/jthemes">WeChat Pla</a></div>
    </div>

</footer>
